body {
	background-color: #999;
	font-family: sans-serif;
}
ul {
	width: 90%;
	margin: 1em auto;
	padding: 1em;
	border: 3px solid red;
	background-color: white;
}
li {
	list-style-type: none;
}
#subgalleries {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-o-column-count: 3;
	-ms-column-count: 3;
}
#images {
	border-color: green;
}
#images li {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 210px;
	line-height: 210px;
	text-align: center;
}
img {
	vertical-align: middle;
}
